<h1>投稿一覧</h1>
<!--Listレコードの数だけ繰り返し処理(each)-->
<% @lists.each do |list| %>

  <p>タイトル</p>
  <!--「＝」を付けるのは実際にHTMLとして表示したいものだけ-->
  <span>
    <%= link_to list.title, list_path(list.id) %>
  </span>

  <p>画像</p>
  <!--画像が存在すればTrue、しなければFalseを返す-->
  <% if list.image.attached? %>
    <%= image_tag list.image, size: "200×200" %>
  <% else %>
    <%= image_tag "no_image" , size: "200×200" %>
  <% end %>

<% end %>