<h1>投稿一覧</h1>
<!--Listレコードの数だけ繰り返し処理(each)-->
<% @lists.each do |list| %>

  <p>タイトル</p>
  <!--「＝」を付けるのは実際にHTMLとして表示したいものだけ-->
  <span>
    <%= link_to list.title, list_path(list.id) %>
  </span>

<% end %>